.notepad {
	background-color: #fff;
	width: 90%;
	max-width: 750px;
	margin: 0 auto;
	box-shadow: 4px 4px 8px #888;
	border: 1px solid #888;
	margin-bottom: 2em;
}

.header {
	background-color: #23395d;
	margin: 0;
	padding: 0.35em 1em;
	color: white;
	box-shadow: 1px 1px 2px #888;
	display: flex;
	justify-content: space-between;
}

.title-container {
	display: flex;
	align-items: center;
}

.title {
	font-size: 1.5em;
	font-weight: bold;
}

.shared-notepad-badge {
	background-color: #87c6eb;
	border: 1px solid #000;
	border-radius: 10px;
	margin-left: 0.5em;
	font-weight: bold;
	font-size: 1em;
	height: 100%;
}

.notepad-action-btns-container {
	display: flex;
}
