.notepad {
	background-color: #fff;
	width: 90%;
	max-width: 750px;
	margin: 0 auto;
	box-shadow: 4px 4px 8px #888;
	border: 1px solid #888;
	margin-bottom: 2em;
}

.header {
	background-color: #23395d;
	margin: 0;
	padding: 0.35em 1em;
	color: white;
	box-shadow: 1px 1px 2px #888;
	display: flex;
	justify-content: space-between;
}

.title {
	font-size: 1.5em;
	font-weight: bold;
}

.notepad-action-btns {
	display: flex;
}

.notepad-action-btns button {
	padding: 0;
	font-size: 2em;
	outline: none;
	border: none;
	background-color: transparent;
	color: white;
}

.notepad-action-btns button:first-of-type {
	margin-right: 0.35em;
}

.notepad-action-btns button:hover {
	color: #ccc;
	cursor: pointer;
}

.notepad-action-btns button:active {
	transform: scale(0.98);
}
