.dropdown-menu-container {
	margin: auto 0;
	position: relative;
}

.dropdown-menu {
	position: absolute;
	top: 45px;
	right: 0;
	width: 200px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #888;
	border: 1px solid #ccc;
	background-color: white;
	opacity: 0;
	visibility: hidden;
	transition: 0.1s ease;
	transform: translateY(-1em);
}

.dropdown-menu.active {
	opacity: 1;
	visibility: visible;
	z-index: 10;
	transform: translateY(0);
}

.dropdown-menu li {
	color: black;
	padding: 0.5em;
}

.dropdown-icon-active {
	color: #ccc;
}
