.dropdown-menu-container {
	margin: auto 0;
	position: relative;
}

.dropdown-menu {
	padding: 0.5em;
	position: absolute;
	top: 45px;
	right: 0;
	width: 150px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #888;
	border: 1px solid #ccc;
	background-color: white;
	opacity: 0;
	visibility: hidden;
	transition: 0.1s ease;
	transform: translateY(-1em);
}

.dropdown-menu.active {
	opacity: 1;
	visibility: visible;
	z-index: 10;
	transform: translateY(0);
}

.dropdown-menu li button {
	border-radius: 10px;
	font-size: 1.25em;
	width: 100%;
	padding: 0.5em;
	color: black;
	outline: none;
	background-color: transparent;
	border: none;
}

.dropdown-menu li button:hover {
	background-color: #ccc;
	color: black;
}

.dropdown-icon-active {
	color: #ccc;
}
