.notepad-container {
	background-color: white;
	width: 80%;
	min-height: 75px;
	margin-left: 0.5em;
	margin-bottom: 2.25em !important;
	border: 1px solid #ccc;
	border-radius: 10px;
	transition: all 0.1s ease-in-out;
}

.notepad-container div:nth-child(2) {
	border-left: 1px solid #ccc;
	min-height: 75px;
}

.notepad-container:hover {
	transform: scale(1.01);
	box-shadow: 4px 4px 6px #ccc;
	cursor: pointer;
}
