.base-btn {
	background-color: #87c6eb;
	color: white;
	font-size: 1em;
	padding: 0.5em 1em;
	border: none;
	box-shadow: 1px 1px 2px #888;
	transition: background-color 0.25s ease;
}

.base-btn:hover {
	cursor: pointer;
	background-color: #7cb6d8;
}

.base-btn:disabled {
	background-color: rgba(128, 0, 128, 0.336);
}

.cancel {
	background-color: transparent;
	color: #87c6eb;
	box-shadow: none;
	transition: none;
}

.cancel:hover {
	background-color: #87c6eb;
	color: white;
	box-shadow: 1px 1px 2px #888;
}
