.label {
	color: black;
	margin-bottom: 0.5em;
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.feedback {
	color: green;
}

.input {
	width: 80%;
	font-size: 1em;
	height: 1.5em;
}

.input-invalid {
	border: 1px solid crimson;
	background-color: rgba(255, 192, 203, 0.534);
}

.input:focus {
	outline: none;
}

.input:hover {
	outline: black;
}

.display {
	margin-bottom: 1.25em;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
