.backdrop {
	position: fixed;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.384);
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	animation: show-modal 0.1s forwards;
}

.container {
	color: black;
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.btn-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.btn-container button {
	margin: 0 0.35em;
}

.message {
	font-size: 1.25em;
	margin-top: 0;
	margin-bottom: 1em;
}

@keyframes show-modal {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
