.border {
	border-right: 1px solid #ccc;
	height: 100%;
}

.active {
	font-weight: bold;
	color: #23395d !important;
}

.sidebar-links {
	color: black;
	display: block;
}

.sidebar-links:hover {
	background-color: #ccc;
	border-radius: 10px;
}
